<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!--数据库链接-->
  <connectionStrings>
    <!--<add name="connString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='D:\visual studio 2015\Projects\CashBorrowINFO\CashBorrowINFO\Database1.mdf';Integrated Security=True" />-->
    <add name="connString" connectionString="Data Source=120.27.150.153;Initial Catalog=Database1;User ID=sa;pwd=QAZ123;" />
  </connectionStrings>
  <appSettings>
    <!--短信发送Url-->
    <add key="PostUrl" value="http://www.hzfacaiyu.com:8585/sms/openCard" />
    <!--账号-->
    <add key="username" value="xindaotouzi" />
    <!--密码-->
    <add key="password" value="KWBMFQZ3" />
    <!--key-->
    <add key="key" value="PznorTmrD2hnb3TS" />
    <!--模板-->
    <add key="messgae" value="【{0}】尊敬的{1}先生 / 女士， 您在本公司借款金额{2}元，本月应付款息{3}元，请于本月{4}号归还，切记！本公司提醒保持良好信用有助于共同发展。" />
  </appSettings>
</configuration>