<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!--数据库链接 connstype=0-->
    <add name="connString" connectionString="sMYVldJPaPfJkjv2dONlZvTMCDkpf2sJFJParbluHHzQxYDKpp9Xvs97TW00Ln9mhvi0gGK6g9xG3mY+4qhxpRT+GbUTjx8MjDiE4HftUY215NTO5N18208BaV7T/bqxe3ZujKSRvz2RyNvInS9WKfcWKJmLUJizXeVeTZJIaZvGMkyHo/808flAB1O2eyhT+oQCY4CHUV8r/Wexw5YAnA==" />
    <!--<add name="connString" connectionString="sMYVldJPaPfr0Ooh+fxPnGoRe4lfiu4jeWBhCLKaRb9Km6b4YfWNqYbIvvrCMSXsayJU2OU9AhvlSwCYHB4HtxMxajBP693hd0XiPnVIb50=" />-->
  </connectionStrings>
  <appSettings>
    <add key="saveUsername" value="" />
    <add key="saveCheck" value="" />
    <!--模板地址-->
    <add key="fileExcel" value="http://120.27.150.153:81/信贷导入模板.xls" />
    <add key="print" value="                          借款合同\r\n甲方(借款人):_借款人\r\n身份证号码:_身份证号码\r\n乙方(贷款人):_贷款人\r\n借款方式:_借款方式\r\n借款金额:_借款金额\r\n利息:_利息\r\n还款期数:_还款期数\r\n还款日期:_还款日期\r\n提醒日期:_提醒日期\r\n借款日期:_借款日期" />
    <!--数据库链接 connstype=1-->
    <add key="server" value="" />
    <add key="uid" value="" />
    <add key="pwd" value="" />
    <add key="database" value="" />
    <!--数据库直连，0为直连，1为分账号密码连-->
    <add key="connstype" value="0" />
    <!-- 打开资讯内容链接网页-->
    <add key="infourl" value="http://120.27.150.153:81/xindai/inner.html" />
    <!-- OFFICE版本 64位=0；32位=1；-->
    <add key="office" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.windows.forms jitDebugging="true" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>